<div
  id="myAlert"
  class="alert alert-success alert-dismissible fade show"
  role="alert"
>
  <strong>Sucesso!</strong> Categoria gravado com Sucesso.
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
