<%- include('../../partials/header.ejs') %> <%-
include('../../partials/navbar.ejs') %>
<form action="/users/save" method="post" id="form" novalidate>
  <div class="card">
    <div class="card-header">Cadastro de Usuário</div>
        <div class="card-body">
        <div class="mb-3">
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Nome</label>
          <input type="text" required
            class="form-control" name="name" id="name" aria-describedby="nameHelp" placeholder="Infomre o nome do usuário">
          <div class="invalid-feedback">Um nome com mais de 3 caracteres deve ser informado</div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" required
          class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="abc@mail.com">
          <div class="invalid-feedback">Informe um email válido</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <div class="input-group">
            <input type="password" required
            class="form-control" name="password" id="password" placeholder="********">
            <div class="input-group-addon">
              <a href=""><i class="fa fa-eye-slash" ></i></a>
            </div>
          </div>
          <div class="invalid-feedback">A senha deve conter mais de 5 caracteres</div>
        </div>
        <div class="mb-3">
          <label for="password2" class="form-label">Repita a Senha</label>
          <input type="password" required
          class="form-control" name="password2" id="password2" placeholder="********">
          <div class="invalid-feedback" id="pass2Msg"></div>
        </div>
    </div>
    <div class="card-footer text-muted">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
  </div>
</form>
<script>
  window.addEventListener("load",(event) => {
    'use strict';
    
    var form = document.getElementById("form");
    var name = document.getElementById('name');
    var email = document.getElementById('email');
    var password = document.getElementById('password');
    var password2 = document.getElementById('password2');
    var pass2Msg = document.getElementById('pass2Msg');

    form.addEventListener('submit',function(event){
      
      validaName();
      validaEmail(); 
      validPassword(); 
      validPassword2(); 

      if(!checkValidation()){
        console.log("invalido");
        event.preventDefault();
        event.stopPropagation();
      }
            
    })

    function validateEmail(email) {
      var re = /\S+@\S+\.\S+/;
      return re.test(email);
    }

    function checkValidation(){
      var fields = document.getElementsByClassName('form-control');
      var res = true;
      Array.prototype.filter.call(fields,function(field){
        if(field.classList.contains('is-invalid')){
          res = false;
        }
      })

      return res;
    }

    function setValidField(field, valid, obj){
      field.classList.remove('is-valid');
      field.classList.remove('is-invalid');
      if(obj && field.value == ""){
        return;
      }
      
      if(valid){
        field.classList.add('is-valid');
      }else{
        field.classList.add('is-invalid');
      }
    }
        
    function validaName(obj){
      setValidField(name, name.value.length > 3, obj);
    }
    
    function validaEmail(obj){
      setValidField(email, validateEmail(email.value), obj);
    }

    function validPassword(obj){
      setValidField(password, password.value.length > 5, obj);
      validPasswordMatch();
    }

    function validPassword2(obj){
      var t = password2.value.length > 5;
      setValidField(password2, t, obj);
      if(!t){
        pass2Msg.textContent = "A senha deve conter mais de 5 caracteres.";
      }else{
        validPasswordMatch();
      }
    }
    
    function validPasswordMatch(){
      var t = password2.value == password.value;
      setValidField(password2, t);
      if(!t){
        pass2Msg.textContent = "As senhas não conferem.";
      }
    }
    
    name.onkeyup = validaName;
    email.onkeyup = validaEmail;
    password.onkeyup = validPassword;
    password2.onkeyup = validPassword2;
    
  })
  </script>
  <%- include('../../partials/footer.ejs') %>